div.m-layer .lyct {
    padding: 40px 0;
}
.m-crgd {
    margin-left: 30px;
    text-align: left;
}
.m-crgd .u-txt {
    vertical-align: middle;
    width: 330px;
}
.u-txt {
    height: 19px;
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
}
div.m-layer .lyct {
    padding: 40px 0;
}
.m-crgd {
    margin-left: 30px;
    text-align: left;
}